[submodule "i18n"]
	path = i18n
	url = https://github.com/albertlauncher/i18n.git

[submodule "lib/QHotkey"]
	path = lib/QHotkey
	url = https://github.com/QtCommunity/QHotkey
[submodule "lib/QNotification"]
	path = lib/QNotification
	url = https://github.com/QtCommunity/QNotification

[submodule "plugins/application"]
	path = plugins/application
	url = https://github.com/albertlauncher/albert-plugin-application.git
[submodule "plugins/applications"]
	path = plugins/applications
	url = https://github.com/albertlauncher/albert-plugin-applications.git
[submodule "plugins/bluetooth"]
	path = plugins/bluetooth
	url = https://github.com/albertlauncher/albert-plugin-bluetooth.git
[submodule "plugins/caffeine"]
	path = plugins/caffeine
	url = https://github.com/albertlauncher/albert-plugin-caffeine.git
[submodule "plugins/calculator-qalculate"]
	path = plugins/calculator-qalculate
	url = https://github.com/albertlauncher/albert-plugin-calculator-qalculate.git
[submodule "plugins/chromium"]
	path = plugins/chromium
	url = https://github.com/albertlauncher/albert-plugin-chromium.git
[submodule "plugins/clipboard"]
	path = plugins/clipboard
	url = https://github.com/albertlauncher/albert-plugin-clipboard.git
[submodule "plugins/contacts"]
	path = plugins/contacts
	url = https://github.com/albertlauncher/albert-plugin-contacts.git
[submodule "plugins/datetime"]
	path = plugins/datetime
	url = https://github.com/albertlauncher/albert-plugin-datetime.git
[submodule "plugins/debug"]
	path = plugins/debug
	url = https://github.com/albertlauncher/albert-plugin-debug.git
[submodule "plugins/dictionary"]
	path = plugins/dictionary
	url = https://github.com/albertlauncher/albert-plugin-dictionary.git
[submodule "plugins/docs"]
	path = plugins/docs
	url = https://github.com/albertlauncher/albert-plugin-docs.git
[submodule "plugins/files"]
	path = plugins/files
	url = https://github.com/albertlauncher/albert-plugin-files.git
[submodule "plugins/github"]
	path = plugins/github
	url = https://github.com/albertlauncher/albert-plugin-github.git
[submodule "plugins/hash"]
	path = plugins/hash
	url = https://github.com/albertlauncher/albert-plugin-hash.git
[submodule "plugins/mediaremote"]
	path = plugins/mediaremote
	url = https://github.com/albertlauncher/albert-plugin-mediaremote.git
[submodule "plugins/menubar"]
	path = plugins/menubar
	url = https://github.com/albertlauncher/albert-plugin-menubar.git
[submodule "plugins/path"]
	path = plugins/path
	url = https://github.com/albertlauncher/albert-plugin-path.git
[submodule "plugins/python"]
	path = plugins/python
	url = https://github.com/albertlauncher/albert-plugin-python.git
[submodule "plugins/snippets"]
	path = plugins/snippets
	url = https://github.com/albertlauncher/albert-plugin-snippets.git
[submodule "plugins/ssh"]
	path = plugins/ssh
	url = https://github.com/albertlauncher/albert-plugin-ssh.git
[submodule "plugins/system"]
	path = plugins/system
	url = https://github.com/albertlauncher/albert-plugin-system.git
[submodule "plugins/timer"]
	path = plugins/timer
	url = https://github.com/albertlauncher/albert-plugin-timer.git
[submodule "plugins/timezones"]
	path = plugins/timezones
	url = https://github.com/albertlauncher/albert-plugin-timezones.git
[submodule "plugins/urlhandler"]
	path = plugins/urlhandler
	url = https://github.com/albertlauncher/albert-plugin-urlhandler.git
[submodule "plugins/vpn"]
	path = plugins/vpn
	url = https://github.com/albertlauncher/albert-plugin-vpn.git
[submodule "plugins/websearch"]
	path = plugins/websearch
	url = https://github.com/albertlauncher/albert-plugin-websearch.git
[submodule "plugins/widgetsboxmodel-qss"]
	path = plugins/widgetsboxmodel-qss
	url = https://github.com/albertlauncher/albert-plugin-widgetsboxmodel-qss.git
[submodule "plugins/widgetsboxmodel"]
	path = plugins/widgetsboxmodel
	url = https://github.com/albertlauncher/albert-plugin-widgetsboxmodel.git
